

@{
    int x = 10;
    string y = "welcome";

    string str = y + ' ' + x;
}


<p>x: @x</p>
<p>y: @y</p>
<p>str: @str</p>
<hr />
<h1>Student Data</h1>

    <p>Mobel: @Model</p>
@*
<p>Id: @Model.Id</p>
<p>Name: @Model.Name</p>
<p>Address: @Model.Address</p>
<p>Age: @Model.Age</p>
*@